@model IEnumerable<Wipro_OnlineMovieBookingApplication.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "Bookings List";
}

<h2>@ViewData["Title"]</h2>

<hr />
<hr />
<hr />
<hr />
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Movie Name</th>
            <th>Booking Date</th>
            <th>Show Time</th>
            <th>Number of Tickets</th>
            @* <th>Movie Price</th>
            <th>Total Price</th> *@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.UserName</td>
                <td>@booking.MovieName</td>
                <td>@booking.BookingDate.ToShortDateString()</td>
                <td>@booking.ShowTime</td>
                <td>@booking.NumberOfTickets</td>
               @*<td>@booking.MoviePrice</td>
                <td>@booking.TotalPrice.ToString("C")</td> *@
                <td>
                    <a asp-action="BookingDetails" asp-route-id="@booking.BookingId" class="btn btn-info">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
