@model IEnumerable<UserViewModel>
@using Wipro_FinalProjectMVC.Models

<div class="panel panel-primary"> 

    <div class="panel-heading">Users</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditUserModel" asp-action="AddUser" class="btn btn-primary">
                Add User
            </a>
        </div>
        <br><br/>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>User Name</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.ContactNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Password)</td>
                        <td>
                            <a id="editUserModel" asp-action="Edit" asp-route-id = "@item.Id" class="btn btn-info">Edit</a>
                            <a id="deleteUserModel" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            <a id="detailsUserModel" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
